<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}


{% block title %}
Content
{% endblock title %}

{% block content %}
{% if Announce_id %}
    <h5>
        Author: {{ Announce_id.author }}&emsp;&emsp;
        Title: <i>{{ Announce_id.title|truncatewords:2 }}</i>&emsp;&emsp;
        Publication date: {{ Announce_id.dateCreation|date:'d M Y' }} &emsp;
        Category: {{ Announce_id.category }}
    </h5>
    <h5>Content: {{ Announce_id.text|truncatewords:5 }}</h5>

    <div class="d-flex justify-content-md-center">
        {% if reacts %}
        <ul>
            {% for react in reacts %}
            <li>
                <h4><b>Reaction:</b></h4>
                <a href="{% url 'react_detail' pk=react.id %}">{{ react.text|truncatewords:2 }}</a>
                        (Author: {{react.author}}, Status:
                {% if react.status == False or react.status == None %}
                Not accepted
                {% else %}
                Accepted
                {% endif %})
            </li>
        </ul>
            {% endfor %}
        {% else %}
            <h4>No reactions found!</h4>
        {% endif %}
    </div>
    <!-- Divider-->
    <hr class="my-4" />
    <!-- Pager-->
    {% if request.user.is_authenticated and request.user != react.author %}
    <div class="d-flex justify-content-center mb-4">
        <a class="btn btn-primary text-uppercase" href="{% url 'reaction_create' pk=Announce_id.id %}">
            Leave reaction →</a>
    </div>
    {% else %}
    {{ empty }}
    {% endif %}
{% else %}
    <h2>Publication not found!</h2>
{% endif %}
{% endblock content %}